html, body, button, input, select, textarea{
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "游ゴシック体", YuGothic, "Yu Gothic Medium", sans-serif;
    font-feature-settings: "pkna" 1;
}

body {
    -moz-font-feature-settings: "palt";
    -webkit-font-feature-settings: "palt";
    font-feature-settings: "palt";
    letter-spacing:1px;
    text-align:justify;
    line-height: 1.75;

    height: 100vh;
}

h1, h2, h3, h4, h5, h6, strong {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "游ゴシック体", YuGothic, "Yu Gothic", sans-serif;
    font-weight: 700;
}

.wf-nicomoji {
    font-family: "Nico Moji", -apple-system, BlinkMacSystemFont, Roboto,
      "游ゴシック体", YuGothic, " Yu Gothic Medium ", sans-serif;
    vertical-align: top
}

.cs-pointer {
    cursor: pointer;
}

.no-border {
    border: none;
}
.no-border td {
    border: none;
}

.h-50 {
    height: 50px;
}
.slide-fade-enter-active {
    transition: all .2s ease;
}
.slide-fade-leave-active {
    transition: all .05s ease;
}
.slide-fade-enter, .slide-fade-leave-to {
    transform: translateY(-10px);
    opacity: 0;
}

.fade-fast-enter-active,
.fade-fast-leave-active {
  transition: opacity 100ms ease-out;
}

.fade-fast-enter,
.fade-fast-leave-to {
  opacity: 0;
}

.chiyori-color{
    background-color: #cfcfcf;
}
.chiyori-lighter-color{
    background-color: #e0e0e0;
}
.yumi-color{
    background-color: #ffee58;
}
.yumi-lighter-color{
    background-color: #ffff8b;
}
.minase-color{
    background-color: #ff8a65;
}
.minase-lighter-color{
    background-color: #ffbb93;
}
.maya-color{
    background-color: #ce93d8;
}
.maya-lighter-color{
    background-color: #ffc4ff;
}
.kushi-color{
    background-color: #fff9c4;
}
.kushi-lighter-color{
    background-color: #fffff7;
}
.ouka-color{
    background-color: #ff6e40;
}
.ouka-lighter-color{
    background-color: #ffa06d;
}
.kaina-color{
    background-color: #ef9a9a;
}
.kaina-lighter-color{
    background-color: #ffcccb;
}
.kuina-color{
    background-color: #e57373;
}
.okarina-color{
    background-color: #ffcdd2;
}
.okarina-lighter-color{
    background-color: #ffffff;
}
.kuina-lighter-color{
    background-color: #ffa4a2;
}
.multiple-color{
    background-color: #FFF;
}
.multiple-lighter-color{
    background-color: #FFF;
}
.other-color{
    background-color: #FFF;
}
.other-lighter-color{
    background-color: #FFF;
}