html, body, button, input, select, textarea{
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "游ゴシック体", YuGothic, "Yu Gothic Medium", sans-serif;
    font-feature-settings: "pkna" 1;
}

body {
    @extend html;

    -moz-font-feature-settings: "palt";
    -webkit-font-feature-settings: "palt";
    font-feature-settings: "palt";
    letter-spacing:1px;
    text-align:justify;
    line-height: 1.75;

    height: 100vh;
}

h1, h2, h3, h4, h5, h6, strong {
    @extend html;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "游ゴシック体", YuGothic, "Yu Gothic", sans-serif;
    font-weight: 700;
}

.wf-nicomoji {
    font-family: "Nico Moji", -apple-system, BlinkMacSystemFont, Roboto,
      "游ゴシック体", YuGothic, " Yu Gothic Medium ", sans-serif;
    vertical-align: top
}

.cs-pointer {
    cursor: pointer;
}

.no-border {
    border: none;
}
.no-border td {
    border: none;
}

.slide-fade-enter-active {
    transition: all .2s ease;
}
.slide-fade-leave-active {
    transition: all .05s ease;
}
.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateY(-10px);
    opacity: 0;
}

.fade-fast-enter-active,
.fade-fast-leave-active {
  transition: opacity 100ms ease-out;
}

.fade-fast-enter,
.fade-fast-leave-to {
  opacity: 0;
}

.chiyori-color{
    background-color: #e0e0e0;
}
.chiyori-lighter-color{
    background-color: #f5f5f5;
}
.yumi-color{
    background-color: #ffd740;
}
.yumi-lighter-color{
    background-color: #fff8e1;
}
.minase-color{
    background-color: #ff9e80;
}
.minase-lighter-color{
    background-color: #fbe9e7;
}
.maya-color{
    background-color: #e1bee7;
}
.maya-lighter-color{
    background-color: #fff1ff;
}
.kushi-color{
    background-color: #ffe57f;
}
.kushi-lighter-color{
    background-color: #fff3e0;
}
.ouka-color{
    background-color: #ff8a80;
}
.ouka-lighter-color{
    background-color: #ffccbc;
}
.multiple-color{
    background-color: #FFF;
}
.multiple-lighter-color{
    background-color: #FFF;
}
.other-color{
    background-color: #FFF;
}
.other-lighter-color{
    background-color: #FFF;
}